.Comment {
	border-radius: 5px;
	/* border: 1px solid grey; */
	padding: 8px;
	margin: 32px;
	margin-left: 0;
	box-shadow: 0px 6px 32px 6px rgba(138, 131, 138, 0.5);
}

#delete-button {
	margin-top: 8px;
	border-radius: 6px;
	align-self: left;
	width: 30%;
	background: lightgray;
}

.Comment h4 {
	font-size: 16px;
	text-align: left;
	margin-top: 0;
}

@media (max-width: 500px) {
	.Comment {
		border-radius: 5px;
		padding: 8px;
		margin: 16px;
		box-shadow: 0px 6px 32px 6px rgba(138, 131, 138, 0.5);
	}
	.Comment h4 {
		font-size: 12px;
		text-align: left;
		margin-top: 0;
	}

	.Comment p {
		margin-top: 8px;
		margin-bottom: 0;
	}
}
