@media (max-width: 500px) {
	.Comment {
		border: 1px solid red;
		border-radius: 5px;
		padding: 8px;
		margin: 16px;
	}
	.Comment h4 {
		font-size: 12px;
		text-align: left;
		margin-top: 0;
	}

	.Comment p {
		margin-top: 8px;
		margin-bottom: 0;
	}
}
