.SingleArticle {
	display: flex;
	flex-direction: column;
	margin: 16px;
	margin-left: 100px;
	margin-right: 100px;
}

.SingleArticle div h1 {
	margin-top: 8px;
	font-family: 'Prata', Helvetica;
	text-align: center;
}

p {
	font-family: 'Prata', Helvetica;
}

.SingleArticle ul li {
	list-style-type: none;
}

.SingleArticle #post-comment-button {
	margin-top: 8px;
	align-self: left;
	width: 15%;
	background: lightgray;
}

.ArticleCommentBox {
	width: 50%;
	height: 100px;
	font-size: 14px;
}

ul {
	padding: 0;
}

@media (max-width: 500px) {
	.SingleArticle {
		display: flex;
		flex-direction: column;
		margin: 16px;
	}

	.SingleArticle div h1 {
		margin-top: 0;
	}

	.SingleArticle #comment-title {
		text-align: left;
		margin-bottom: 0;
		margin-top: 0;
	}

	.SingleArticle p {
		text-align: left;
		margin-left: 8px;
		margin-bottom: 5px;
	}

	.SingleArticle ul li {
		list-style-type: none;
	}

	.SingleArticle ul {
		padding: 8px;
		margin-top: 0;
	}

	.SingleArticle #post-comment-button {
		margin-top: 8px;
		border: 1px solid lightgray;
		border-radius: 2px;
		align-self: left;
		width: 25%;
	}
}
