@media (max-width: 500px) {
	.SingleArticle {
		margin: 16px;
	}

	.SingleArticle p {
		text-align: left;
	}

	.SingleArticle ul li {
		list-style-type: none;
	}

	.SingleArticle ul {
		padding: 8px;
	}
}
