.App {
	display: grid;
	grid-template-areas: 'Header' 'Navbar' 'Articles' 'SingleArticle' 'Footer';
	background: #f4f3f3;
}

.App a:visited {
	color: white;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.container {
	width: 100vw;
}

@media (max-width: 500px) {
	.App {
		display: grid;
		grid-template-areas: 'Header' 'Navbar' 'Articles' 'SingleArticle' 'Footer';
		gap: 0.7rem;
		background: #f4f3f3;
	}
}
